
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">

<style>
    * {
        font-family: 'Potta One', cursive;
    }
    div {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        color:blueviolet;
        font-size: 70pt;
    }
    p {
        font-size: 24pt;
    }
</style>


    <div>

        <h1><b>Welcome! </b></h1><br>
        <p>This site has been visited {{ count }} times.</p>


    </div>
